.mainHomerightbar{
    flex: 4;
    background-color: lavender;
}

.ItemContainer{
    display: flex;
    justify-content: center;
    margin: auto;
}

.ItemContainer1{
    background-color: whitesmoke;
    width: 250px;
    height: 20vh;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;

}

.taskProgress{
    text-align: start;
    font-size: 13px;
    color: rgba(62, 102, 102, 0.349);
    margin-top: 33px;
    margin-left: 140px;

}

.taskcounter{
    text-align: start;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -15px;
    margin-left: 140px;
}

.month1{
    text-align: start;
    margin-top: -20px;
    font-size: 10px;
    margin-left: 140px;

}

.Green{
    color: rgba(8, 134, 8, 0.767);
    font-weight: bolder;
}

.Red{
    color: red;
    font-weight: bolder;
}

span{
    content: "\2191";
}

.Dollar{
    /*border: 1px solid green;*/
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-top: 18px;
    margin-left: 35px;
    margin-right: -110px;
    background-color: rgba(197, 228, 212, 0.842);
}

.Ordernote{
    /*border: 1px solid purple;*/
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-top: 18px;
    margin-left: 35px;
    margin-right: -110px;
    background-color: rgb(195, 152, 236);
}

.Balance{
   /* border: 1px solid blue;*/
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-top: 18px;
    margin-left: 35px;
    margin-right: -110px;
    background-color:rgb(161, 205, 243);

}

.sale{
    /*border: 1px solid red;*/
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-top: 18px;
    margin-left: 35px;
    margin-right: -110px;
    background-color: rgb(252, 205, 205);
}

.maincharts{
    flex:2;
}

.MainTascontainer{
    display: flex;
    width: 92%;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

.tasCharts{
    flex: 4;
    background-color: white;
    margin-top: 10px;
    margin-right: 15x;
    margin-left: 15px;
    border-radius: 10px;
}

.Monthlyearring{
    flex: 1.7;
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.taskContainer{
    text-align: start;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px; 
    margin-left: 10px;
}

.TastText{
    text-align: start;
    color: rgba(62, 102, 102, 0.349);
    margin-top: -15px; 
    margin-left: 10px;
    font-size: 10px;
}

.six{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 40%;
    margin-top: 60px;
    
    margin-right: 50%;
}

.newCus{
    margin-left: 40%;
    margin-right: 26%;
    margin-top: -23px;
    font-size: 13px;
}

.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 10px;
}

.Sellcontainer{
    flex:1;
}

.Sellname{
    font-size: 15px;
    margin-right: 500px;
    font-weight: bolder;
    margin-left: 20px;
}

.search2{
    display: flex;
    flex: 0.3;
    align-items:center;
    background-color: white;
    padding: 6px;
    border-radius: 8px;
    margin-left: 25px;
    margin-right: 45px;
}

.sInput{
    width: 100%;
    border: none;
    padding: 3px;
    background-color: white;
}

.lastdays{
    color:rgba(62, 102, 102, 0.575);
    font-size: 12px;
    margin-left: 12px;
    margin-right: 45px;
}

.thirdcontainer{
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-left: 55px;
    margin-right: 45px;
    border-radius: 10px;
    
}

/* table, th, td{
    border: 1px solid black;
} */