.mainSidebarcontainer{
    flex : 0.8;
    /* background-color:rgb(1, 1, 48) ; */
    background-color: rgb(20, 85, 107);
    color: black;
}

.liContainer{
    display: flex;
    align-items: center;
    margin-top: -7px;
    margin-right: 2px;
}

.ulContainer{
    margin-top: 30px;
}

.dashboardContainer{
    display: flex;
    margin-top: -10px;
}

.dashtext{
    font-size: 20px;
    margin-left: 40px;
}

.sidebaricons{
    width: 20px;
    height: 20px;

}

.itemsName{
    margin-left: 10px;
}

.menu{
    display: flex;
    margin-left: -10px;
    
}

.scheduleContainer{
    display: flex;
    margin-left: 7px;
    margin-right: 7px;
    padding: 5px;
    background-color: rgba(186, 181, 190, 0.377);
    border-radius: 10px;
    margin-top: 270px;
}

.menuText{
     margin-left: 10px;
    margin-top: 5px;
}

.profileicon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: -30px;
    margin-top: -10px;
    margin-bottom:-100px ;
}

.profileText{
    list-style-type: none;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -3px;
    /* margin-right: 20px; */
}

.profile{
    list-style-type: none;
    display: flex;
}

.border{
    
    border-radius: 10px;
    background-color: rgba(186, 181, 190, 0.377);
    margin-left: -9px;
    margin-right: 25px;
    padding: 5px;
   
}